/*사이드바 숨기기*/
@media screen AND (max-width:1900px), print {
    .sidebar {
        visibility: collapse;
    }
}

/*컨테이너 크기 조절*/
@media screen {
    .container {
        max-width: 1650px;
        min-width: unset;
        width: 100%;
    }

    .projects > .contents {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .projects > .contents .project-item:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen AND (min-width:900px) AND (max-width:1156px), print {
    .projects > .contents {
        grid-template-columns: 1fr 1fr;
    }

    .projects > .contents .project-item:nth-child(3n) {
        margin-right: 20px;
    }

    .projects > .contents .project-item:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen AND (max-width:900px) {
    .projects > .contents {
        grid-template-columns: 1fr;
    }

    .projects > .contents .project-item:nth-child(3n) {
        margin-right: 20px;
    }

    .projects > .contents .project-item:nth-child(2n) {
        margin-right: 20px;
    }

    .project-item {
        height: auto;
        width: 100%;
        margin: 0 auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .project-item .img {
        width: 400px;
        height: auto;
    }

    .project-item .description {
        width: 100%;
        height: auto;
    }
}