@inject IJSRuntime JSRuntime;

<div id="intro" class="intro" @ref="Reference">
    <div class="title">소개</div>
    <div class="contents">
        <div>개발자 박상곤입니다.</div>
        <div>여러 가지 개발을 하고 있습니다.</div>

        <div style="margin-top: 20px; border: 1px solid #EEE; padding: 10px; display: inline-block;">
            <div style="color: #53bac8; font-size: 24px;">Contact.</div>
            <div style="margin-top: 5px;">
                <div>Email. <a href="mailto: psg107@naver.com" style="color: #555; font-weight: bold;">psg107@naver.com</a></div>

                <div class="icon-container">
                    <div class="icon git-icon" title="git" @onclick="OpenGithub"></div>
                    <div class="icon bj-icon" title="baekjoon" @onclick="OpenBaekjoon"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// 최상단 element
    /// </summary>
    public ElementReference Reference { get; set; }

    /// <summary>
    /// 깃 열기
    /// </summary>
    /// <returns></returns>
    private async Task OpenGithub()
    {
        await JSRuntime.InvokeAsync<IJSObjectReference>("open", "https://github.com/psg107", "_blank");
    }

    /// <summary>
    /// 백준 열기
    /// </summary>
    /// <returns></returns>
    private async Task OpenBaekjoon()
    {
        await JSRuntime.InvokeAsync<IJSObjectReference>("open", "https://www.acmicpc.net/user/psg107", "_blank");
    }
}
