@page "/"
@inject IJSRuntime JSRuntime;

<div class="container">
    @*소개*@
    <IntroContainer @ref="introContainerReference" />

    @*스킬*@
    <SkillContainer @ref="skillContainerReference" />

    @*프로젝트*@
    <ProjectContainer @ref="projectContainerReference" />
</div>

<AnchorNavigation />

@code {
    private IntroContainer introContainerReference;
    private SkillContainer skillContainerReference;
    private ProjectContainer projectContainerReference;

    private static Action<string> action;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            var introContainer = introContainerReference.Reference;
            var skillContainer = skillContainerReference.Reference;
            var projectContainer = projectContainerReference.Reference;

            JSRuntime.InvokeAsync<ElementReference>("addScrollEvent",
                introContainer, skillContainer, projectContainer);
        }
    }
}
