@page "/project"
@using Portfolio.Services
@inject ProjectService ProjectServiceAccessor

<h3>Project</h3>

@foreach(var project in projects)
{
    <ProjectContainer Name="@project.ProjectId.ToString()" Description="@project.Description" Skills="@project.ProjectSkills.Select(x => x.Skill).Select(x => x.Name)" />
}

@code { 
    private List<Entities.Project> projects;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        projects = ProjectServiceAccessor.GetProjects();
    }
}
